.container {
  width: 320px;
}
.block-gain {
  background: url(/image/phone_milion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.gain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-close {
  align-self: flex-end;
  width: 14px;
  height: 14px;
  background-image: url(/image/close.png);
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.gain-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 240px;
  height: 32px;
  text-align: center;
  padding: 0 24px;
  cursor: pointer;
  margin-bottom: 4px;
}
.gain-item p {
  position: absolute;
  z-index: 0;
  color: aliceblue;
}
.svg-gain {
  position: absolute;
  left: 0;
  width: 240px;
  height: 32px;
  fill: #3f51b51a;
  stroke: #d0d0d8;
  z-index: 0;
}
.small {
  font: 13px sans-serif;
  fill: red;
  text-align: center;
}
span {
  order: 100;
}
.gain-item::before,
.gain-item::after {
  content: "";
  display: block;
  width: 41px;
  height: 1px;
  background: #d0d0d8;
  position: absolute;
  top: 16px;
  border: none;
}
.gain-item::before {
  left: -16px;
}
.gain-item::after {
  right: -16px;
}
.svg-gain-change {
  position: absolute;
  left: 0;
  width: 240px;
  height: 32px;
  stroke: #af37da;
  fill: rgb(129 91 238 / 27%);
  z-index: 0;
}
.gain-item:hover:before,
.gain-item:hover:after {
  background: #c334e7;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 320px;
  }
  .block-gain {
    width: 320px;
    opacity: 0.8;
  }
  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
}
@media (min-width: 1440px) {
  .block-gain {
    width: 500px;
    margin: 0 auto;
    opacity: 1;
  }
}
