.block-gain {
  width: 320px;
  padding: 21px 0 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gain-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 240px;
  height: 32px;
  text-align: center;
  padding: 0 24px;
  cursor: pointer;
  margin-bottom: 4px;
}
.gain-item p {
  position: absolute;
  z-index: 0;
}
.svg-gain {
  position: absolute;
  left: 0;
  width: 240px;
  height: 32px;
  fill: white;
  stroke: #d0d0d8;
  z-index: 0;
}
.small {
  font: 13px sans-serif;
  fill: red;
  text-align: center;
}
span {
  order: 100;
}
.gain-item::before,
.gain-item::after {
  content: "";
  display: block;
  width: 41px;
  height: 1px;
  background: #d0d0d8;
  position: absolute;
  top: 16px;
  border: none;
}
.gain-item::before {
  left: -16px;
}
.gain-item::after {
  right: -16px;
}
.svg-gain-change {
  position: absolute;
  left: 0;
  width: 240px;
  height: 32px;
  fill: white;
  stroke: #ff8b37;
  z-index: 0;
}
.gain-item:hover:before,
.gain-item:hover:after {
  background: #ff8b37;
}
@media (min-width: 1440px) {
  .container {
    width: 376px;
  }
}
