.container {
  width: 320px;
}
.game-page {
  height: 100vh;
  background: #f5f5f7;
  background-image: url(/image/phone_milion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 16px 24px 16px;
}
.block-menu-game {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.menu-btn-open {
  align-self: flex-end;
  width: 16px;
  height: 14px;
  background-image: url(/image/burger.png);
  background-repeat: no-repet;
  margin-bottom: 101px;
}
.question {
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  color: #eaeaf4;
  margin-right: 0;
  margin-bottom: 97px;
}

.block-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  display: flex;
  align-items: center;
  position: relative;
  width: 260px;
  height: 63px;
  margin-bottom: 4px;
  text-align: left;
  padding: 0 24px;
  cursor: pointer;
}
.answer p {
  position: absolute;
  z-index: 0;
  color: aliceblue;
}
.answer p > span {
  color: #ff8b37;
}

.svg-mob {
  width: 260px;
  height: 56px;
  stroke: #d0d0d8;
  fill: rgb(16 58 105 / 15%);
  position: absolute;
  top: 3px;
  left: 0px;
  z-index: 0;
}
.correct-answer {
  width: 260px;
  height: 56px;
  fill: #299231;
  stroke: #20a026;
  position: absolute;
  top: 3px;
  left: 0px;
}
.invalid {
  width: 260px;
  height: 56px;
  fill: #c71818;
  stroke: #ec2e21;
  position: absolute;
  top: 3px;
  left: 0px;
}
.answer:hover .svg-mob {
  stroke: #af37da;
  fill: rgb(129 91 238 / 27%);
}
.answer:hover:before,
.answer:hover:after {
  background: #af37da;
}
.answer::before {
  content: "";
  display: block;
  width: 17px;
  height: 1px;
  background: #d0d0d8;
  position: absolute;
  top: 31px;
  left: -16px;
  border: none;
}
.answer::after {
  content: "";
  display: block;
  width: 17px;
  height: 1px;
  background: #d0d0d8;
  position: absolute;
  top: 31px;
  right: -16px;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
    margin: 0 auto;
  }
  .block-menu-game {
    width: 740px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .question {
    background: radial-gradient(
      circle,
      rgba(17, 136, 242, 1) 0%,
      rgba(3, 51, 107, 1) 100%
    );
    border-radius: 58%;
    width: 624px;
    font-size: 23px;
    line-height: 30px;
    padding: 32px 20px;
    color: darkgrey;
  }
  .svg-mob {
    width: 288px;
    height: 56px;
    stroke: #d0d0d8;
    fill: rgb(16 58 105 / 15%);
    position: absolute;
    top: 3px;
    left: 0px;
    z-index: 0;
  }
  .correct-answer {
    width: 288px;
    height: 56px;
    fill: #299231;
    stroke: #20a026;
    position: absolute;
    top: 3px;
    left: 0px;
  }
  .invalid {
    width: 288px;
    height: 56px;
    fill: #c71818;
    stroke: #ec2e21;
    position: absolute;
    top: 3px;
    left: 0px;
  }
  .block-answers {
    width: 608px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .answer {
    width: 288px;
    margin-right: 32px;
  }
  .answer:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .game-page {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
  .game-page {
    width: 100%;
    padding-top: 0;
    padding-left: 80px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .wrapp-answers-quest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 100vh;
  }
  .img-million {
    align-self: center;
    width: 495px;
    height: 460px;
    background-image: url(/image/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
