.start-page {
  background-image: url(/image/phone_milion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 103px;
  padding-bottom: 48px;
}
.start-page__img {
  width: 197px;
  height: 155px;
  margin-bottom: 42px;
}
.start-page__img > img {
  max-width: 100%;
  height: auto;
  margin: 0;
}
.block-begin {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-begin__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 116%;
  margin-bottom: 102px;
  color: #e5e1d1;
}
.block-begin__btn {
  width: 250px;
  padding: 16px 0;
  border-radius: 8px;
  background: radial-gradient(
    circle,
    rgba(17, 136, 242, 1) 0%,
    rgba(3, 51, 107, 1) 100%
  );
  color: #ffffff;
  font-size: 14px;
}
.block-begin__btn:hover {
  box-shadow: 0px 0px 6px 2px rgba(50, 41, 50, 0.75);
}

@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .start-page {
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 250px;
  }
 .start-page__img {
    width: 300px;
    height: 300px;
    margin: 0;
    margin-right: 140px;
  }
  .block-begin {
    width: 434px;
    align-items: flex-start;
  }
  .block-begin__title {
    text-align: start;
    font-size: 40px;
    margin-bottom: 64px;
  }
  .block-begin__btn {
    width: 248px;
    padding: 21px 0;
    border-radius: 12px;
    background-color: #ff8b37;
    color: #ffffff;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
  .start-page {
    flex-direction: row;
    justify-content: center;
    padding-top: 222px;
    padding-bottom: 310px;
  }
  .start-page__img {
    width: 300px;
    height: 300px;
    margin: 0;
    margin-right: 140px;
  }
  .block-begin {
    width: 434px;
    align-items: flex-start;
  }
  .block-begin__title {
    text-align: start;
    font-size: 56px;
    margin-bottom: 64px;
  }
  .block-begin__btn {
    width: 248px;
    padding: 21px 0;
    border-radius: 12px;
    background-color: #ff8b37;
    color: #ffffff;
    font-size: 20px;
  }
}
